
//variables
$primary-color: rgb(255, 174, 24);  
$carousel-transition: transform 4s ease, opacity .5s ease-out;


//global styling =================
*{
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

//Navbar Section ===================

nav{
    font-size: 1.25rem;

    .navbar-brand{
        font-size: 2rem;

        span{
            color: $primary-color;
        }
    }
}

//===============================


#content{
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

#mainRow{
    height: 100%;
    

    #comparison_link{
        position: relative;
        background-image: linear-gradient(#ff9d2f, #ff6126);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

            h1, a{
                z-index: 1;
            }

            a{
                font-size: 9rem;
                font-weight: 300;
                color: black;
            }

            a:hover{
                color: $primary-color;
                text-decoration: none;
            }
            
    }

        svg{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 23.5vw;
            // transform: translateY(-15%);
            // transform: translatex(2%);

        }

    div{
        height: 40%;
    }
}

#sideBar{
    // background-color: aqua;
    height: 100%;
   
    div{
        height: 40%;
    }
}

.table-responsive{
    max-height: 100vh;
}

.negative{
    color: red;
}

#displayNews{
    height: 100%;


    .carousel-inner{
        height: 100vh;

        .carousel-item{
            transition: transform 4s ease, opacity 4s ease-out;
        }
    }
    


    img{
        width: 100%;
        height: 80%;
    }

    .mask{
        height: 80%;
    }
}

#myCarousel{
    height: 3rem;

}








//media queries

// @media screen and(max-width: 986px){
//     svg{
//         height: 23.5vw;
     
//    }
// }